@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
  box-sizing: border-box;
  font-family: "Press Start 2p";
  margin: 0;
}

/* .input {
     width: 100%;
     max-width: 500px;
     box-sizing: border-box;
} */

/* home */

#header-container {
  background-color: rgb(79,67,174);
  display: flex;
  flex-direction: column;
  align-items:  center;
  padding: 1rem;
}

#header-container > * {
  margin: 0.5em auto 0 auto;
}

#header-container > p {
  text-align: center;
}

#header-container > h2 {
  background-color: rgb(79,67,174);
}

#header-container > .nes-container {
  background-color: white;
}

.image-container {
  margin: auto;
  margin-bottom: 1rem;
  /* width: 80%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.image-card {
  border: 0.1em solid black;
  margin-top: 1em;
  transition: transform 0.5s;
}

.image-card:hover {
  transform: scale(1.03);
}

.image-card img {
  width: 300px;
  height: auto;
}

#image-page {
  margin : auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#image-top-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-areas:
  "image infos";
  grid-gap: 1rem;
}

.image-content {
  grid-area: image;
}

.image-content > img {
  max-width: 100%;
  height: auto;
}

.image-infos {
  grid-area: infos;
  align-self: flex-start;
}

.image-infos > img {
  width: 120px;
  height: auto; 
}



.comment-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
}

.comment-container > h4 {
  background-color: #cec9cc !important;
}

.comment-list {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

.comment {
  display: flex;
  align-items: flex-end;
  word-wrap: break-word;
}

.comment > i {
  min-width: 100px;
}

.com-flex-right {
  align-self: flex-end;
}

.com-flex-left {
  align-self: flex-start;
}

.nes-balloon {
  word-break: break-word;
}

#new-comment-form textarea {
  box-sizing: border-box;
  width: 100%;
}

 /* login page */

#login-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  text-align: center;
}

#signup-pop {
  display: flex;
  align-items: flex-start;
}

#signup-pop > img {
  max-width: 30%;
}

#forget-password-link {
  font-size: 0.8rem;
}

/* password pages */
#forgotpass-container {
  text-align: center;
}

#newpass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  text-align: center;
}

#newpass-content-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.8rem;
  border: 3px solid black;
}

/* register page */

#register-container {
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#register-form-container {
  max-width: 800px;
  margin-top: 1rem;
}

/* account settings */

#account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#account-container > img {
  max-width: 100%;
  height: auto;
  margin: 1rem 1rem 0.5rem 1rem;
}

#account-general-form-container {
  margin-top: 0.5rem;
}

#notification-form-container {
  margin-top: 0.5rem;
}

/* #account-container > * {
  flex: 1 100%;
} */

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

body {
  /* background-color: #cec9cc; */
  background: #cec9cc url('/resources/img/joypad.png');
  background-repeat: no-repeat;
  background-position-x: center;
}

video {
  width: 100%;
  height: auto;
}

/* 1 - EDITOR */

#editor-container {
  width: 90%;
  margin: 1rem auto 1rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "items notice"
  "img-editor img-history";
  grid-gap: 1rem;
  text-align: center;
}

#editor-container > button {
  margin: 0.8rem 0.2rem 0.8rem 0.2rem;
}

/* a - left section : image editor */

#item-container {
    grid-area: items;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    border: 0.25em solid black;
}

#item-container > img {
    box-sizing: border-box;
    padding: 0.25em;
    width: 100px;
    height:auto;
    /* margin: 0.1em; */
    animation: 0s;
    image-rendering: pixelated;
}

#item-container > img:hover {
  animation-duration: 1.5s; 
  animation-iteration-count: infinite;
  animation-name: flash_item_red;
  /* border: 1px solid black; */
}



#item-container > img:active {
  background-color: rgba(255, 1, 1, 0.5);
}

/* notice container */

#notice-container {
  grid-area: notice;
  border: 0.25rem solid black;
}

#notice-container > ul {
  list-style-type: none;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#upload-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em;
  margin: 1em;
  background-color: rgba(79,67,174, 0.7);
  text-align: center;
}

#notice-container ul {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

#notice-container li {
  font-size: 0.8rem;
}



#edit-section {
    /* necessaire au script pour calculer les offset
    sur l image de rendu */
    border: 0.25em solid black;
    grid-area: img-editor;
    position: relative;
    align-self: start;
}

#dropper {
  position: relative;
}

/* b - image history part */

#img-history-container {
  grid-area: img-history;
  border: 0.25em solid black;
  align-self: flex-start;
}

#img-history-container img {
  width: 100%;
  height:auto;
}

.img-history-card {
  margin: 0.5em;
}

#image-manager {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-manage-card {
  position: relative;
  margin: 0.5em;
}

.image-manage-card img {
  width: 300px;
  height: auto;
}

/* 
#img-list {
  display: flex;
  flex-direction: column-reverse;
  align-content: space-between;
} */

/* #img-list img {
  width: 100%;
  height:auto;
} */

.close-icon {
  cursor:pointer;
  color: white;
  background-color:rgba(73,80,87, 0.2);
  font-size: 2vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 5%;
  position: absolute;
  top: 5%;
  right: 5%;
}

.close-icon:hover {
  background-color:rgba(73,80,87, 0.5);
}

/* NAV */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#nav-header {
  display: flex;
  justify-items: baseline;
  text-decoration: none;
}

#nav-header > span {
  color: black;
  margin-left: 1rem;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #b5b6e4;
  /* background: linear-gradient(to left, #f46b45, #eea849); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000000;
  height: 50px;
  padding: 1em;
  border-bottom: 3px solid black;
}

#logo {
    margin : auto;
    width: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.menu > li {
  margin: 0 1rem;
}

.menu > li > a {
  color: black;
  text-decoration: none;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


#verif-user-page {
  height: 100%;
  width: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.center-page {
  height: 100vh;
  width: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

footer {
  height: 50px;
  width: 100%;
  margin-top: auto;
  background-color: rgb(181,182,228);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {


  #register-container {
    width: 90%;
  }

  .image-container {
    flex-wrap: wrap;
    justify-content: center;
    width:90%;
  }

  .image-card img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  /* img show page */
  #image-top-wrapper {
    grid-template: 1fr;
    grid-template-areas: 
    "infos"
    "image";
  }
  /* editor */
  #editor-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "notice"
    "items"
    "img-editor"
    "img-history";
  }

  /* top nav */
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #menu-toggle:checked ~ .menu {
      display: block;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu > li > a {
    color: white;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* Flash */

.flash {
  margin: 0.5rem 1rem 0.5rem 1rem !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}



/* ANIMS */

@keyframes flash_item_red {

  from {
        background-color: rgba(255, 1, 1, 0);
  }

  80% {
    background-color: rgba(255, 1, 1, 0.342);
  }

  to {
        background-color: rgba(255, 1, 1, 0);
  }
}